[data-type] {
    width: 30px;
    aspect-ratio: 1 / 1;
    margin: 8px;
}

.container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    background-color: black;
}